.events__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.events__poster {
  margin-bottom: 119px;

  @include vp-1365 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 71px;
  }
}
