.header {
  background-image: $red-to-right;
}

.header__logo img {
  width: 120px;
  height: 26px;

  @include vp-1365 {
    width: 111px;
    height: 24px;
  }

  @include vp-767 {
    width: 102px;
    height: 22px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 40px;

  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-1365 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

.header__logo {
  @include hover-focus {
    opacity: 0.7;
  }

  &:active:not(.focus-visible) {
    opacity: 0.5;
  }
}

.header__contacts {
  position: relative;

  color: $color-default-white;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }

  @include hover-focus {
    color: #1c3374;
    outline: none;
  }

  &:active:not(.focus-visible) {
    color: $color-text-default;
    text-decoration: solid;
    text-decoration-color: $color-text-default;

    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0;

      height: 1px;
      width: 100%;
      background-color: #102654;
    }
  }

  &--disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
