.presentation__wrapper {
  display: flex;
  column-gap: 10.5vw;

  padding-top: 120px;
  padding-bottom: 234px;

  @include vp-1365 {
    column-gap: 0;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 105px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    justify-content: flex-start;

    padding-top: 77px;
    padding-bottom: 70px;
  }
}

.presentation__text-content {
  flex-basis: 26.1vw;

  h2 {
    margin: -6px 0 29px;

    font-family: $ff-alumni;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
  }

  p {
    margin: 29px 0 0;

    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
  }

  @include vp-1365 {
    flex-basis: 65.3vw;
    margin-bottom: 31px;

    text-align: center;

    h2 {
      margin-bottom: 20px;

      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
    }

    p {
      margin-top: 20px;

      font-size: 20px;
      line-height: 20px;
    }
  }

  @include vp-767 {
    flex-basis: 87.2vw;

    margin-bottom: 45px;
    text-align: left;

    h2 {
      margin-bottom: 12px;

      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
    }

    p {
      margin-top: 12px;

      font-size: 18px;
      line-height: 20px;
    }
  }
}

.presentation__desc {
  margin-top: 95px;

  p {
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  @include vp-1365 {
    margin-top: 34px;

    p {
      font-size: 16px;
      line-height: 24px;

      &:last-child {
        display: none;
      }
    }
  }

  @include vp-767 {
    margin-top: 38px;

    p {
      margin-bottom: 7px;

      font-size: 14px;
      line-height: 22px;
    }
  }
}

.presentation__media-content {
  position: relative;
  align-self: flex-start;

  flex-basis: 48.3vw;

  @include vp-1365 {
    flex-basis: 100%;
  }

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100vw;
    row-gap: 40px;

    margin: 0 -15px;
  }
}

.presentation__image {
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;

    background-color: #d9dbe7;
  }
}

.presentation__video {
  position: absolute;
  bottom: -115px;
  left: -63px;

  width: 26.66vw;
  height: 16.7vw;

  img {
    width: 100%;
    object-fit: cover;

    background-color: #d9dbe7;
  }

  iframe {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &--overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
  }

  @include vp-1365 {
    left: calc(50% - 133px);
    bottom: -83px;

    width: 34.5vw;
    height: 21.8vw;
  }

  @include vp-767 {
    position: relative;
    left: unset;
    bottom: unset;

    width: 100%;
    height: 52.2vw;
  }
}

.presentation__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 72px;
  height: 72px;

  border: none;
  border-radius: 50%;

  color: $color-default-white;
  background-color: transparent;

  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 3;

    width: 13px;
    height: 15px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;

    width: 72px;
    height: 72px;

    border-radius: 50%;

    background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  }

  &::after {
    position: absolute;
    content: "";
    top: -14px;
    left: -14px;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: solid 2px rgb(237, 2, 51, 0.2);

    background-color: transparent;
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;

    svg {
      width: 9px;
      height: 10px;
    }

    &::before {
      top: -1px;

      width: 52px;
      height: 52px;
    }

    &::after {
      top: -11px;
      left: -10px;

      width: 72px;
      height: 72px;
    }
  }

  @include hover-focus {
    color: $color-text-default;

    &::before {
      background: $color-default-white;
    }

    &::after {
      border-color: $color-text-default;
    }
  }

  @include active {
    color: $color-text-default;

    &::before {
      background: $color-default-white;
    }

    &::after {
      border-color: $color-text-default;
    }
  }

  &:disabled {
    color: $color-text-default;
    opacity: 0.4;

    pointer-events: none;

    &::before {
      background: $color-default-white;
    }

    &::after {
      border-color: $color-text-default;
    }
  }
}
