$color-text-default: #102654;
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-text-transparent: rgba(16, 38, 84, 0.5);
$red-to-right: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$fz-default: 16px;
$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-alumni: "Alumni Sans", "Arial", sans-serif;
$ff-rouble: "Rouble", "Arial", sans-serif;
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1366: 1366px;
$vp-1440: 1440px;
$vp-1920: 1920px;
$tf-default: ease;
$trans-default: 0.3s $tf-default;
